body{background-color: red;}

.slider{
   
    width: 400px;
    height: 200px;
    background-size: cover;
}

.dots> div{
    display: inline-block;
    width: 30px;
    height: 30px;
    background-color: grey;
    border-radius: 50%;
}
.dots{display: inline;}
button{display: inline;}